.carousel_wrapper {
  align-self: center;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

.snaps_inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps_inline > * {
  scroll-snap-align: start;
}

.nav_button {
  position: absolute;
  font-size: 1rem;
  left: -2rem;
  right: -2rem;
  width: auto;
}

.nav_button {
  display: none;
}

.nav_button .prev,
.nav_button .next {
  background: rgb(255, 255, 255);
}

.nav_button .next {
  position: absolute;
  right: 0px;
  rotate: 180deg;
}

.nav_button .prev {
  position: absolute;
  left: 0px;
}

.carousel_wrapper:hover .nav_button {
  display: flex;
}

.carousel_heading {
  width: 100%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Basis Grotesque Pro";
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.carousel_heading h2 {
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.carousel_heading a {
  align-self: center;
  color: var(--primary-color) !important;
}

.carousel_heading a:hover {
  color: rgba(0, 0, 255, 0.6);
  text-decoration: underline;
}

@media only screen and (max-width: 960px) {
  .nav_button {
    display: none !important;
  }
}
