.headbar {
  width: 100vw;
  display: flex;
  justify-content: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  /* background-color: white; */
  column-gap: 0.5rem;
  font-family: "LatoXBold", "NotoDevanagari", "MehrNastaliqRegular",
    "NotoDevanagariRegular";
}

.headbar .logo {
  font-family: "Agbalumo", serif;
}

.headbar a:visited {
  color: black;
}

.headbar a:hover {
  color: var(--green);
}

.mobile_menu {
  display: none;
}

.side_navigation {
  display: none;
}

.side_navigation_col1 a:any-link {
  color: var(--primary-color);
}

.headbar .search_wrapper {
  align-self: center;
  width: 100%;
  position: relative;
}

.headbar .search_wrapper input {
  width: 100%;
  padding: 0.8rem 3rem;
  border-radius: var(--border-radius);
  font-size: medium;
  outline: transparent;
  border: 1px solid var(--primary-color);
}

.headbar select,
.headbar select:focus {
  width: 60px;
  height: fit-content;
  border: transparent;
  background: transparent;
  outline: transparent;
}

.headbar select option {
  padding: 0 0.5rem;
  height: 5rem;
}

.headbar .menu_panel {
  display: none;
}
.headbar .megamenu:hover .menu_panel {
  display: flex;
}

/* .headbar .megamenu:not(:hover) .menu_panel:hover .menu_panel {
  display: flex;
} */
@media only screen and (max-width: 640px) {
  nav.items_left {
    display: none;
  }

  .login {
    display: none;
  }

  .logo {
    grid-column: 2/3;
    justify-content: center;
    justify-items: center;
  }

  .mobile_menu {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  aside {
    width: 300px;
    height: 100dvh;
    background-color: white;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    padding: 0.5rem 1.5rem;
    gap: 5rem;
  }

  .close_button {
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: var(--border-radius);
  }

  .side_navigation_col1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: -3rem;
  }

  .side_navigation_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .headbar .search_wrapper {
    display: none;
  }

  .headbar .login,
  .headbar .headbar_buttons {
    display: none;
  }

  .action_buttons :first-child {
    position: absolute;
    right: 6px;
    top: 0.6rem;
    z-index: 20;
  }
}
